*{
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}
/* nav bar */
nav{
    /* max-width: 1920px; */
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 38px 0px;
    color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-title{
    display: flex;
    align-items: center;
    gap: 68px;
    padding-left: 50px;
}
.nav-logo{
    width: 86.041px;
    height: 40px;
}
.nav-gamer-title{
    font-size: 2.8rem;
    font-weight: 700;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;;
}
.contacts{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 150px;
}
.contacts li{
    color: #3c354f;
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 32px;
    /* margin-left: 64px; */
    /* padding-left: 68px; */
}
.primary-color{
    color: rgb(255, 66, 165, 1);
}
.follow-us{
    display: flex;
    align-items: center;
    width: 230px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    padding: 0px 24px;
}
.facebook{
    width: 24px;
    height: 24px;
    margin-left: 24px;
    cursor: pointer;
}
.youtube{
    width: 35px;
    height:35px;
    margin-left: 24px;
    cursor: pointer;
}
@media screen and (max-width: 576px) {
    .nav-bar,
    .contacts{
        flex-direction: column;
        gap: 35px;
    }
}
/* header section */
.heaa{
    height: 700px; 
}
.header-part{
    display: flex;
    /* width: 1920px; */
    height: 700px;
    gap: 68px;
}
.left-title1{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}
.left-title2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    margin-bottom: 24px;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 700px;
    background-image: url(Group\ 14.png);
    text-align: left;
}
.left-li{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
    margin-bottom: 24px;
}
.right{
    width: 900px;
    height: 700px;
}
.btn-primary , .btn-secondary{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: none;
    margin-top: 20px;
}
.btn-secondary{
    background: #4ec5f7;
    margin-left: 24px;
}
/* footer part */
.footer{
    /* width: 1920px; */
    height: 636px;
    background-color: #0B0223;
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
    align-items: center;

    
}
.footer-part{
    /* display: flex; */
    text-align: center;
}
.img-footer{
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    mix-blend-mode: overlay;
    display: flex;
    text-align: center;
}
.footer-part{

}
.footer-title{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 66px;
}
.footer-li1{
    color: #FFF;
    /* text-align: center; */
    font-size: 18px;
    font-weight: 600;
    display: flex;
    gap: 66px;
    margin-bottom: 66px;
}
.footer-li2{
    display: flex;
    gap: 40px;
    text-align: center;
    justify-content: center;
    margin-bottom: 66px;
}
.footer-li3{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 60px;
    margin-bottom: 28px;
}
.end{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.footerrr{
    color: #FFF;
}
footer li{
    list-style: none;
}

/* we are gamer */
.we-container{
    background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 55px 240px; */
    gap: 60px;
    text-align: right;
    /* width: 1920px; */
    height: 600px;
}
.we-photo{
    width: 100%;
    height: 420px;
    /* border: 1px solid black; */
}
.we-img{
    margin-right: 100px;
}
.we-item{

}
.we-title{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.we-dis{
    text-align: right;
    margin: 25px 0px;
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    width: 415px;
    padding-left: 100px;
}
.unleash{
    margin-top: 24px;
    display: flex;
    justify-content: right;
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
}
.ellipsis{
    width: 135px;
    /* border: 2px solid blue; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* text-align: right; */
}
.unleash-dis{
    color: #534C64;
    font-size: 1.8rem;
    font-weight: 700;
}

/* ! Online starts here */
.title-styles {
    color: #0b0223;
    font-size: 3rem;
    font-weight: 700;
}
  
.online-title {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    text-align: center;
}
  
.online-dis {
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 48px;
    /* border: 2px solid red; */
}
  
.online-img {
    height: 350px;
    width: 300px;
}
.online-dis {
    margin-top: 20px;
    width: 300px;
    height: 60px;
    color: #534c64;
    font-size: 1.2rem;
    font-weight: 500;
}
  
.online {
    margin: 0 auto;
    border-radius: 16px;
}
  
.online-Container {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    /* padding-left: 100px; */
}
.online-img {
    /* border: 2px solid red; */
}
  
.hover-icon {
    height: 48px;
    width: 48px;
    margin-bottom: 16px;
    color: #fff;
}
.hover-content {
    text-align: center;
  
    border: 2px solid;
}
.hover-content h3 {
    border: 2px solid;
}
  
.no1 {
    text-align: center;
    position: relative;
    overflow: hidden;
}
  
.icon-watch {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    position: absolute;
    bottom: -100%;
    height: 100%;
    width: 100%;
    transition: 1.5s;
}
.no1:hover .icon-watch {
    bottom: 0;
    border-radius: 10px;
}
.btn{
    color: rgb(255, 66, 165, 1);
}
/* play instantly section */
.play-container{
    width: 100%;
    /* border: 2px solid; */
    margin-top: 120px;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}
.play-title{
    /* text-align: right; */
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: right;
    font-size: 48px;
    line-height: 60px; /* 125% */
}
.play-color{
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: right;
    font-size: 48px;
    line-height: 60px;
}
.horse{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.play-img1{
    height: 570px;
    max-width: 100%;
}
.play-img2{

}
.angela{
    height: 320px;
    max-width: 100%;
    position: absolute;
    bottom: -10%;
    left: -25%;
}
.play-dis{
    width: 353px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.mar{
    margin-bottom: 120px;
}
/* Game catagories */
.game-categories{
    /* border: 2px solid; */
    /* margin-top: 120px; */
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 0.1fr);
    gap: 27px;
    text-align: center;
    /* margin: 120px 240px; */
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 427px;
}
.category{
    background-color: #FFF;
    height: 80px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px;
    width: 290px;
    /* margin-top: 100px; */
}
.category-img{
    padding-left: 10px;
}
.category-title{
    color: #0b0223;
    font-size: 1.2rem;
    font-weight: 600;
}
.cata{
    margin-top: 200px;
    /* margin-bottom: 100px; */
    /* padding-bottom: 100px; */
    text-align: center;
}
.rolep{
    /* padding-left: 120px; */
}
.category:hover{
    border: 2px solid  rgb(255, 66, 165, 1);
}
.category-title:hover{
    color:  rgb(255, 66, 165, 1);
}