*{
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}
/* nav bar */
nav{
    max-width: 1920px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 38px 0px;
    color: #FFF;
}
.nav-title{
    display: flex;
    align-items: center;
}
.nav-logo{
    width: 86.041px;
    height: 40px;
}
.nav-gamer-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.contacts{
    display: flex;
    align-items: center;
    list-style: none;
}
.contacts li{
    color: #3c354f;
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 32px;
}
.primary-color{
    color: rgb(255, 66, 165, 1);
}
.follow-us{
    display: flex;
    align-items: center;
    width: 230px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    padding: 0px 24px;
}
.facebook{
    width: 24px;
    height: 24px;
    margin-left: 24px;
    cursor: pointer;
}
.youtube{
    width: 30px;
    height:30px;
    margin-left: 24px;
    cursor: pointer;
}
@media screen and (max-width: 576px) {
    .nav-bar,
    .contacts{
        flex-direction: column;
        gap: 35px;
    }
}